/*
  For each column, we need to take the total width and divide it by how many columns
  We want the column width as a percentage, with the gutters as fixed px
*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: #290444; }

section {
  padding: 60px 15px; }

h1 {
  color: #ffffff;
  font-size: 5.2rem; }
  @media (max-width: 600px) {
    h1 {
      font-size: 4rem; } }

h2 {
  margin: 0;
  font-size: 2rem; }

p {
  font-weight: 500;
  color: #290444;
  font-size: 1rem; }

pre {
  font-weight: 500;
  color: #ED76FF;
  font-size: 1.3rem;
  white-space: pre-wrap; }
  pre.comment {
    color: #bca0e5; }

.button {
  border: 2px solid #290444;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  color: #290444;
  transition: all 0.15s ease-in-out; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.label {
  font-size: .7rem;
  display: block;
  margin: 5px 15px; }

.maple-syrup {
  margin-top: 10px;
  font-size: 0.7rem; }

.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.hero {
  background-color: #AC7CF8;
  background-image: radial-gradient(ellipse, #ED76FF 0%, #AC7CF8 100%);
  min-height: 500px;
  height: 80vh;
  position: relative; }
  .hero .icon-svg {
    width: 155px;
    height: auto; }
  .hero .logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 600px) {
      .hero .logo {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center; } }
  .hero .project-info {
    padding-left: 30px; }
    @media (max-width: 600px) {
      .hero .project-info {
        padding-left: 0; } }
  .hero h1 {
    margin-top: 0;
    margin-bottom: 15px; }

.about {
  text-align: center; }
  .about .about-text {
    width: calc( (66.66667%) - 30px);
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    left: calc( (16.66667%));
    position: relative; }
    @media (max-width: 420px) {
      .about .about-text {
        width: calc( (83.33333%) - 30px);
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        left: calc( (8.33333%));
        position: relative; } }
    .about .about-text .maple-syrup {
      display: block; }
  .about .button {
    margin-top: 30px;
    display: inline-block;
    transition: all 0.15s ease-in-out;
    background-color: #290444;
    color: #ffffff; }
    .about .button:hover {
      background-color: #cdb0fb; }

.usage {
  background-color: #f8f5fe; }
  .usage .usage-text {
    width: calc( (66.66667%) - 30px);
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    left: calc( (16.66667%));
    position: relative; }
    @media (max-width: 600px) {
      .usage .usage-text {
        width: calc( (83.33333%) - 30px);
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        left: calc( (8.33333%));
        position: relative; } }

.config-example {
  background-color: #e6d8fd;
  padding: 30px;
  border-radius: 10px; }
  @media (max-width: 420px) {
    .config-example {
      padding: 15px; } }

.examples {
  font-size: 2rem; }
  .examples .griddle {
    margin-bottom: 30px; }

footer {
  text-align: center;
  background-color: #290444;
  color: #ffffff;
  padding: 40px; }
  footer h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.7px;
    color: #784cb0; }
    footer h3 a {
      color: #F6DA9D;
      text-decoration: none;
      transition: color 0.2s ease-in-out; }
      footer h3 a:hover {
        color: #ED76FF; }

.griddle {
  margin-left: -15px;
  margin-right: -15px;
  position: relative; }
  .griddle:after {
    content: "";
    display: table;
    clear: both; }

[class*=pancake] {
  background-color: #f6bbff;
  text-align: center;
  padding: 10px 0 5px; }
  @media (max-width: 420px) {
    [class*=pancake] {
      font-size: 1rem;
      margin-bottom: 15px; } }

.pancake-1 {
  width: calc( (8.33333%) - 30px);
  float: left;
  margin-left: 15px;
  margin-right: 15px; }
  @media (max-width: 420px) {
    .pancake-1 {
      width: calc( (50%) - 30px);
      float: left;
      margin-left: 15px;
      margin-right: 15px; } }

.pancake-2 {
  width: calc( (16.66667%) - 30px);
  float: left;
  margin-left: 15px;
  margin-right: 15px; }
  @media (max-width: 420px) {
    .pancake-2 {
      width: calc( (33.33333%) - 30px);
      float: left;
      margin-left: 15px;
      margin-right: 15px; } }

.pancake-3 {
  width: calc( (25%) - 30px);
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.pancake-4 {
  width: calc( (33.33333%) - 30px);
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.pancake-5 {
  width: calc( (41.66667%) - 30px);
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  left: calc( (25%));
  position: relative; }

.pancake-6 {
  width: calc( (50%) - 30px);
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

.pancake-12 {
  width: calc( (100%) - 30px);
  float: left;
  margin-left: 15px;
  margin-right: 15px; }

@media (max-width: 600px) {
  .example-1 {
    display: none; } }

@media (max-width: 420px) {
  .example-2 {
    display: none; } }
