// Feel free to override any of these variables, they are given default values in config

$container-width:   1140px;
$columns:           12;
$gutter:            15px;
$debug:             false;

@import 'pancake/config';

@mixin griddle {
  margin-left: -$gutter;
  margin-right: -$gutter;
  position: relative;
  @include clearfix;
}

// spans 1 of 12
.pancake-12 {
  @include stack-span(1);

  @include bp(md) {
    @include stack-span(2);
  }

  @include bp(xs) {
    @include stack-span(12);
  }
}
