// Feel free to override any of these variables, they are given default values in config

$container-width:   1140px;
$columns:           12;
$gutter:            15px;
$debug:             false;

@import 'pancake/config';

@mixin griddle {
  margin-left: -$gutter;
  margin-right: -$gutter;
  position: relative;
  @include clearfix;
}

@mixin bp($point) {
  @if $point == lg {
    @media (max-width: 950px) { @content; }
  }
  @else if $point == md {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == sm {
    @media (max-width: 600px)  { @content; }
  }
  @else if $point == xs {
    @media (max-width: 420px)  { @content; }
  }
}
