@import './grid';

$poppins : 'Poppins', sans-serif;


$gradient1 : #AC7CF8;
$gradient2 : #ED76FF;
$yellow : #F6DA9D;
$white : #ffffff;
$black : #290444;

$debug : false;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $poppins;
  font-size: 62.5%;
  color: $black;
}

section {
  padding: 60px 15px;
}

// TYPOGRAPHY
h1 {
  color: $white;
  font-size: 5.2rem;

  @include bp('sm'){
    font-size: 4rem;
  }
}

h2 {
  margin: 0;
  font-size: 2rem;
}

p {
  font-weight: 500;
  color: $black;
  font-size: 1rem;
}

pre {
  font-weight: 500;
  color: $gradient2;
  font-size: 1.3rem;
  white-space: pre-wrap;

  &.comment {
    color: lighten(mix($black, $gradient1, 20%), 15%);
  }
}

.button {
  border: 2px solid $black;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  color: $black;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: rgba($white, 0.2);
  }
}

.label {
  font-size: .7rem;
  display: block;
  margin: 5px 15px;
}

.maple-syrup {
  margin-top: 10px;
  font-size: 0.7rem;
}

.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.hero {
  background-color: $gradient1;
  background-image: radial-gradient(ellipse, $gradient2 0%, $gradient1 100%);
  min-height: 500px;
  height: 80vh;
  position: relative;

  .icon-svg {
    width: 155px;
    height: auto;
  }

  .logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate( -50%, -50% );
    display: flex;

    @include bp('sm'){
      flex-direction: column;
      align-items: center;
    }
  }

  .project-info {
    padding-left: 30px;

    @include bp('sm') {
      padding-left: 0;
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }

}

.about {
  text-align: center;
  .about-text {
    @include stack-span(8);
    @include move-left(2);

    @include bp('xs') {
      @include stack-span(10);
      @include move-left(1);
    }

    .maple-syrup {
      display: block;
    }
  }

  .button {
    margin-top: 30px;
    display: inline-block;
    transition: all 0.15s ease-in-out;
    background-color: $black;
    color: $white;
    &:hover {
      background-color: mix( $white, $gradient1, 40%);
    }
  }
}

.usage {
  background-color: mix( $white, $gradient1, 92%);
  .usage-text {
    @include stack-span(8);
    @include move-left(2);

    @include bp('sm') {
      @include stack-span(10);
      @include move-left(1);
    }
  }
}

.config-example {
  background-color: mix( $white, $gradient1, 70% );
  padding: 30px;
  border-radius: 10px;

  @include bp('xs') {
    padding: 15px;
  }
}

.examples {
  font-size: 2rem;

  .griddle {
    margin-bottom: 30px;
  }
}

footer {
  text-align: center;
  background-color: $black;
  color: $white;
  padding: 40px;

  h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.7px;
    color: mix( $black, $gradient1, 40% );

    a {
      color: $yellow;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $gradient2;
      }
    }
  }
}

.griddle {
  @include griddle();
}

[class*=pancake] {
  background-color: mix($white, $gradient2);
  text-align: center;
  padding: 10px 0 5px;

  @include bp('xs') {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

.pancake-1 {
  @include stack-span(1);

  @include bp('xs') {
    @include stack-span(6);
  }
}

.pancake-2 {
  @include stack-span(2);

  @include bp('xs') {
    @include stack-span(4);
  }

}

.pancake-3 {
  @include stack-span(3);
}

.pancake-4 {
  @include stack-span(4);
}

.pancake-5 {
  @include stack-span(5);
  @include move-left(3);
}

.pancake-6 {
  @include stack-span(6);
}

.pancake-12 {
  @include stack-span(12);
}

.example-1 {
  @include bp('sm') {
    display: none;
  }
}

.example-2 {
  @include bp('xs') {
    display: none;
  }
}
