// Define your grid here
$columns:           12 !default;
$gutter:            15px !default;

// Debug
$debug:              false !default;
$grid-color:        #ED76FF !default;


/*
  For each column, we need to take the total width and divide it by how many columns
  We want the column width as a percentage, with the gutters as fixed px
*/

$single-column:    100 / $columns * 1%;


@mixin stack-span($cols) {
    $unit-width : $cols/$columns;
    width: calc( (#{$single-column * $cols}) - #{2 * $gutter});
    float: left;
    margin-left: #{$gutter};
    margin-right: #{$gutter};
    @if $debug {
      outline: 1px solid $grid-color;
    }
  }

@mixin move-left($cols) {
  left: calc( (#{$single-column * $cols}));
  position: relative;
}

@mixin move-right($cols) {
  right: calc( (#{$single-column * $cols}));
  position: relative;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
